extends layout

block content
  h1= title
  - let image_names = ['gua1.jpg','gua2.jpg','gua3.jpg','gua4.jpg','gua5.jpg']
  - for(let i=0;i<3;i++){
      - let rno = Math.floor(Math.random()*5)
      - let iname = image_names[rno]

      img(src=`images/${iname}` alt='guava' style='width:300px; height:300px;')
      |    
  - }